@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Manrope:wght@200;300;400&family=Montserrat:ital,wght@0,400;1,100&display=swap');

/*
font-family: 'Heebo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Footer*/

.gridFooter div > div {
    padding: 1rem;
    display: flex;
  }
  
  /*grilla footer*/
  footer {
    background-color: #000;
    height: 100%;
  }
  .filas {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .grilla {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    max-width: 1500px;
    background-color: #000;
    margin-top: 30px;
  }
  
  .grilla button {
    border-radius: 20px;
    margin: 5px;
    border: 1px solid #434242;
    color: #000;
    background-color:  #fff;
    padding: 12px;
    cursor: pointer;
    width: 150px;
  }
  
  .grilla button:hover {
    background-color: #3e3a3c;
  }
  
  
  .grilla p {
    color: grey;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .grilla ul {
    list-style: none;
    padding: 2px;
    line-height: 40px;
  }
  
  .grilla li a {
    color: #f3f1f1;
    text-decoration: none;
  }

  .company{
    padding-left: 100px;
  }
  
  