@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Manrope:wght@200;300;400&family=Montserrat:ital,wght@0,400;1,100&display=swap');

/*
font-family: 'Heebo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(..//);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.capa{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0.4);
    z-index: -1;
    top: 0;
    left: 0;
}

/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo{
    float: left;
    line-height: 70px;
}

.container .btn-menu {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
       
}

.container .menu{
    float: right;
    line-height: 70px;
}

.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}

/*Fin de Estilos para Header*/

/*Menu Lateral*/
#btn-menu{
    display: none;
    cursor: pointer;    
}

.container-menu{
    position:absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translatex(-100%);
    
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translatex(-0%);
}


.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.botones{
    margin-top: 200px;
}

.boton{
    border-radius: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    transition: all 600ms ease;
    cursor: pointer;
}

.boton:hover{
    background: #9a9797; 
    color: #fff;  
}

/*Fin de menu lateral*/

/*Info.Presentacion header*/

.troby{
    text-align: center;
    color: #fff;
    margin-top: 300px;
}

.troby h2{
    font-size: 60px;
    padding: 30px;
}

.troby p{
    padding: 10px 100px;
    font-size: 30px;
}

.troby button{
    margin-top: 60px;
    border-radius: 200px;
    padding: 10px 40px;
    font-size: 20px;
}

.troby button:hover{
    transition: all 400ms ease;
    background-color: #9a9797;
    color: #fff;
    cursor: pointer;
}